@{
    Layout = "~/Areas/Public/Views/Shared/Layout/_LayoutPublic.cshtml";
}
@using Hrmanagement.Core.DTO.DtoOutput;
@{
    var userMemo = ViewData["userMemo"] as List<UserMemoOutput>;
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">User-Memo List</h3>
                    
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Url</th>
                                <th>Title</th>
                                <th>CreatedAt</th>
                                <th>UpdatedAt</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @if (userMemo != null)
                            {
                                var i = 0;
                                @foreach (var userMemoList in userMemo)
                                {
                                    <tr>
                                        <td>@(++i)</td>
                                        <td>@userMemoList.Url</td>
                                        <td>@userMemoList.Title</td>
                                        <td>
                                            @if (userMemoList.AvailableForPublic == true)
                                            {
                                                <span>Public</span>
                                            }
                                            else
                                            {
                                                <span>Self</span>
                                            }
                                        </td>

                                       
                                        <td>@userMemoList.CreatedAt</td>
                                        <td>@userMemoList.UpdatedAt</td>
                                       
                                    </tr>
                                }
                            }
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>

@await Component.InvokeAsync("Toaster")
