@{
    Layout = "~/Areas/Admin/Views/Shared/Layout/_LayoutAdmin.cshtml";
}

@using Hrmanagement.Core.DTO.DtoOutput;
@{
    var ApiCredentialId = ViewData["apicredential"] as ApiCredentialsOutput;
    int id = ApiCredentialId != null ? ApiCredentialId.Id : 0;

    var project = ViewData["projectData"] as List<ProjectOutput>;

    var rolestatus =  new[]
    {
        "active","inActive","terminated"
    };
}



<section class="content container-fluid">
    <div class="card">
        <div class="card-header">
            @if (id != 0)
            {
                <h3 class="card-title">ApiCredential Page-Update</h3>
            }
            else
            {
                <h3 class="card-title">Create New ApiCredential</h3>
            }
        </div>
        <form class="card-body" method="post" action="~/Admin/ApiCredentials/addUpdateApiCredential" onsubmit="return addUpdateApiCredential()">
            <input type="hidden" name="Id" value="@ApiCredentialId?.Id">
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="firstName" class="col-form-label col-sm-2">ProjectName</label>
                    <div class="col-sm-10">
                        <select id="projectName" name="ProjectId" style="width: 100%" required>
                            <option value="">Select Project</option>
                            @foreach (var statusList in project)
                            {
                                @*<option value="@statusList" @(ApiCredentialId?.Status == statusList ? "selected" : "")>@statusList</option>*@
                                <option value="@statusList.Id" @(ApiCredentialId?.ProjectId == statusList.Id ? "selected" : "")>@statusList.Title</option>
                            }
                        </select>
                        @*<input type="text" class="form-control" id="projectName" name="ProjectName" placeholder="ProjectName" value="@ApiCredentialId?.ProjectId">*@
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="lastName" class="col-form-label col-sm-2">Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="description" name="Description" rows="2" cols="20">@ApiCredentialId?.Description</textarea>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="email" class="col-form-label col-sm-2">ApiKey</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="apiKey" name="ApiKey" placeholder="Api Key" value="@ApiCredentialId?.ApiKey">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="email" class="col-form-label col-sm-2">ClientId</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="clientId" name="ClientId" placeholder="Client Id" value="@ApiCredentialId?.ClientId">
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="email" class="col-form-label col-sm-2">ClientSecret</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="clientSecret" name="ClientSecret" placeholder="clientSecret" value="@ApiCredentialId?.ClientSecret">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="email" class="col-form-label col-sm-2">Allow Limit</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="allowLimit" name="AllowLimit" placeholder="allow Limit" value="@ApiCredentialId?.AllowLimit">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="email" class="col-form-label col-sm-2">Service</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="service" name="Service" placeholder="Service" value="@ApiCredentialId?.Service">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="email" class="col-form-label col-sm-2">ApiHost</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="apiHost" name="ApiHost" placeholder="Api Host" value="@ApiCredentialId?.ApiHost">
                    </div>
                </div>
            </div>
            

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="email" class="col-form-label col-sm-2">Consumed Limit</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="consumedLimit" name="ConsumedLimit" placeholder="Consumed Limit" value="@ApiCredentialId?.ConsumedLimit">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="email" class="col-form-label col-sm-2">Status</label>
                    <div class="col-sm-10">
                        <select id="status" name="Status" style="width: 100%" required>
                            <option value="">Select Status</option>
                            @foreach (var statusList in rolestatus)
                            {
                                <option value="@statusList" @(ApiCredentialId?.Status == statusList ? "selected" : "")>@statusList</option>
                               
                            }
                        </select>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="email" class="col-form-label col-sm-2">Password</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="password" name="Password" placeholder="Password" value="@ApiCredentialId?.Password">
                    </div>
                </div>
                
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-info float-left">Save</button>
            </div>
        </form>
    </div>
</section>
@await Component.InvokeAsync("Toaster")